$tablet: 768px;


@media screen and (max-width: $tablet) {
    body {
      font-size: 80%;
      width: 100vw;
    }
    .header {
      position: relative;
      &__header {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  
    .container {
      &__workweek-plan {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px));
        grid-gap: 2.5rem;
        width: 100vw;
      }
    }
  
    .workweek {
      margin: 0 auto;
    }
  
    .main {
      padding-bottom: 16px;
    }
  
    .navigation {
      display: none;
      &__link {
        display: block;
        width: fit-content;
      }
      &__button {
        width: 40px;
        height: 35px;
        border: 0;
        border-top: 5px solid #fff;
        background: transparent;
        position: relative;
        transition: 0.3s transform linear;
        &--position {
          position: absolute;
          top: 16px;
          right: 16px;
        }
      }
      &--open {
        display: block;
      }
    }
  
    .navigation__button::before,
    .navigation__button::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 5px solid #fff;
      transform: translateY(10px);
    }
  
    .navigation__button::after {
      transform: translateY(25px);
      transition: 0.3s transform linear;
    }
  
    .navigation__button:focus {
      transform: rotate(45deg) translateY(5px);
      border: none;
    }
    .navigation__button:focus::after {
      transform: rotate(-90deg) translateX(-10px);
    }
  
    .header__picture {
      display: none;
    }
  }